@use 'variables';

.card-item {
    margin-top: 16px;
}

.mt-6 {
    margin-top: 5rem;
}

a {
    text-decoration: none !important;

    &:hover {
        color: #dc3545 !important;
    }
}

.block {
    display: block;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
}

.spinner-border {
    margin-right: 5px;
    vertical-align: middle;
}

.error-container {
    text-align: center;
    padding: 40px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    h1 {
        font-size: 6rem;
        font-weight: bold;
        color: #dc3545;
    }

    p {
        font-size: 1.5rem;
        color: #6c757d;
    }

    .btn-home {
        margin-top: 20px;
        font-size: 1.2rem;
        padding: 10px 20px;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    a,
    span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        margin: 0 5px;
        border-radius: 8px;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
    }

    a {
        background-color: #007bff;
        color: #fff;
        border: 2px solid transparent;

        &:hover {
            background-color: #0056b3;
            border-color: #004085;
        }
    }

    span {
        background-color: #f8f9fa;
        color: #333;
        border: 2px solid #ddd;
    }

    .active {
        background-color: #ff5722;
        color: white;
        border-color: #e64a19;
    }

    .disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.back-to-top {
    width: 40px;
    height: 40px;
    background: #007bff;
    color: white;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    z-index: 1000;
    transition: all 0.3s ease-in-out;

    &:hover {
        background: #0056b3;
        color: white !important;
    }
}

.bg-pink {
    background: #f76758;
}

.end-9 {
    right: 9px;
}

.min-header {
    position: sticky;
    top: 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.06);
}

.bg-green {
    background-color: #00bc86;
}

.box-service {
    display: flex;
    justify-content: center;

    .image-service {
        display: inline-block;
    }

    .content-service {
        display: inline-block;
        width: calc(100% - 30px);
        margin-left: 15px;

        .title-service {
            display: block;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            color: #fff;
            text-transform: uppercase;
            margin: 0;
        }

        .des-service {
            display: block;
            font-size: 14px;
            font-weight: 400;
            line-height: 19px;
            color: #fff;
        }
    }
}

  @keyframes pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
  .title {
    animation: pulse 2s infinite ease-in-out;
  }

// @keyframes glow {
//     0%, 100% {
//       text-shadow: 0 0 20px #fff, 0 0 30px #ff00ff, 0 0 40px #ff00ff;
//     }
//     50% {
//       text-shadow: 0 0 50px #fff, 0 0 60px #ff00ff, 0 0 70px #ff00ff;
//     }
//   }
  
//   .title {
//     animation: glow 1s infinite alternate;
//   }


  