<div class="mt-4">
   <form role="search" action="" method="POST">
        <div class="mb-4">
            <label for="search-input">Từ khóa</label>
            <input class="form-control me-2 mt-2" type="text" id="search-input" name="q" placeholder="Search..." aria-label="Search">
        </div>
        <div class="mb-4">
            <label for="gender-input">Từ khóa</label>
            <select class="form-control me-2 mt-2" type="text" id="search-input" name="gender">
                <option value="">-- Select Gender --</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
</div>